.section-navbar {
    background-color: $sea-color;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px;

        &__logo {
            a {
                color: #fff;
                text-decoration: none;
                font-size: 22px;
            }
        }
        
        .links {
            display: flex;
            
            &__link {
                a {
                    font-family: $arial;
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;
                    margin: 0 12.5px;
                }
            }
        }
    }
}